<h1>All Posts</h1>
<% posts.forEach(function(post) { %>
	<div class="post">
	<h2><a href="/video/<%=post.id%>"> <img class="img-thumbnail" src="<%=post.url%>"> <%= post.personId %>: 
<%= post.title %> - <%= post.content %></a></h2>
	</div>
<% }); %>

<br><br><br><br><br><br><br><br>